@charset "utf-8";
@layer base, font, low, main, high;

@layer base {
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        font: inherit;
        color: inherit;
    }
}

@layer base {
    a {
        text-decoration: inherit;
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

@layer base {
    img,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@layer base {
    :root {
        font-size: 16px;
        line-height: 1.6;
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, sans-serif;
    }
}

@layer main {
    body {
        background-color: #f5f5f5;
        color: #333333;
    }

    .responsive {
        max-width: 600px;
        margin: 0 auto;
    }

    header {
        background: #3f51b5;
        padding: 1rem;
    }

    header .responsive,
    footer .responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header h1 {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }

    header button {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
    }

    header button .icon {
        width: 1.5rem;
        height: 1.5rem;
        filter: invert(1);
    }

    main {
        padding-inline: 1rem;
    }

    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 1rem 0;
        padding: 0.5rem 1rem;
    }

    form input[type="text"] {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 0.5rem;
    }

    form > * {
        margin-block: 0.5rem;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    form button {
        padding: 0.5rem 1rem;
        background: #3f51b5;
        color: white;
        border: none;
        border-radius: 32px;

        font-weight: bold;
    }

    form label {
        min-width: 60px;
        cursor: pointer;
        color: #3f51b5;
        border-radius: 16px;
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    li.task {
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    li.task > input[type="checkbox"]:checked + .task-text > input[type="text"] {
        text-decoration: line-through;
    }

    li.task > .task-text {
        flex-grow: 1;
    }

    .task-text > input[type="text"] {
        width: 100%;
    }

    .task-text > .task-create-date {
        color: #bbb;
    }

    li.task > .weight-light,
    li.task > .weight-medium,
    li.task > .weight-heavy,
    li.task > .weight-due-date {
        padding: 4px 1rem;
        border-radius: 1rem;
        font-weight: bold;
    }

    li.task > .weight-light {
        color: #4caf50;
        background: #e8f5e9;
    }

    li.task > .weight-medium {
        color: #ff9800;
        background: #fff3e0;
    }

    li.task > .weight-heavy {
        color: #f44336;
        background: #ffebee;
    }

    li.task > .weight-due-date {
        color: #2196f3;
        background: #e3f2fd;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        border-top: 1px solid #ddd;
        padding: 1rem;

        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }

    input[type="radio"] {
        display: none;
    }

    footer label {
        min-width: 90px;
        cursor: pointer;
        font-size: 1.2rem;
        color: #3f51b5;
        border-radius: 16px;
        text-align: center;
    }

    input:checked + label {
        background: #3f51b530;
    }

    main > ul > li.task {
        display: none;
    }

    body:has(#tab-light:checked) > main > ul > li:has(.weight-light),
    body:has(#tab-medium:checked) > main > ul > li:has(.weight-medium),
    body:has(#tab-heavy:checked) > main > ul > li:has(.weight-heavy),
    body:has(#tab-due-date:checked) > main > ul > li:has(.weight-due-date),
    body:has(#tab-all:checked) > main > ul > li {
        display: flex;
    }
}
