@charset "utf-8";
@layer base, font, low, main, high;

@layer base {
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        font: inherit;
        color: inherit;
    }
}

@layer base {
    a {
        text-decoration: inherit;
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

@layer base {
    img,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@layer base {
    :root {
        font-size: 16px;
        line-height: 1.6;
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, sans-serif;
    }
}

@layer main {
    body {
        background-color: #f5f5f5;
        color: #333333;
    }


    /* all radio button is hidden, use label instead */
    input[type="radio"] {
        display: none;
    }

    /* Moble Styles */
    @media screen and (max-width: 768px) {
        main {
            padding-inline: 1rem;
        }

        .responsive-mobile {
            margin: 0 auto;
            max-width: 1024px;
        }

        /* App Bar */
        .app-bar {
            background: #3f51b5;
            padding: 1rem;
        }

        .app-bar .app-bar-container {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }

        .app-bar-title {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }

        #menu-toggle {
            display: none;
        }

        .app-bar-menu-icon {
            width: 1.5rem;
            height: 1.5rem;
            filter: invert(1);
        }

        /* Bottom Navigation */
        .bottom-nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #ffffff;
            border-top: 1px solid #ddd;
            padding: 1rem;

            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
        }

        .bottom-nav .responsive {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .bottom-nav label {
            min-width: 60px;
            cursor: pointer;
            font-size: 1rem;
            color: #3f51b5;
            border-radius: 16px;
            text-align: center;
        }

        /* Bottom Buttons */
        .bottom-buttons {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #ffffff;
            border-top: 1px solid #ddd;
            padding: 1rem;
        }

        .bottom-buttons .responsive {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .bottom-buttons .buttons {
            display: flex;
            gap: 1rem;
        }

        .bottom-buttons .revert {
            padding: 0.5rem 1rem;
            color: #3f51b5;
            border: 2px solid #3f51b5;
            border-radius: 32px;

            font-weight: bold;
        }

        .bottom-buttons .delete {
            padding: 0.5rem 1rem;
            background: #f44336;
            color: white;
            border: none;
            border-radius: 32px;

            font-weight: bold;
        }

        /* Drawer Menu */
        .drawer-backdrop {
            position: fixed;
            inset: 0;
            backdrop-filter: blur(4px);
            transition: all 0.3s ease-in-out allow-discrete;
            opacity: 0;
            pointer-events: none;
        }

        .drawer {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            background: white;
            transition: transform 0.3s ease-in-out;
            transform: translateX(-100%);
        }

        body:has(#menu-toggle:checked) .drawer {
            transform: translateX(0);
        }

        body:has(#menu-toggle:checked) .drawer-backdrop {
            opacity: 1;
            pointer-events: auto;
        }

        .drawer-title {
            font-size: 1.5rem;
            font-weight: bold;
            height: 120px;
            background: #3f51b5;
            color: white;
        }

        .drawer-menu {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
        }

        .drawer-menu-item {
            font-size: 1.2rem;
            font-weight: bold;
            color: #3f51b5;
        }
    }

    /* Desktop Styles */
    @media screen and (min-width: 769px) {
        .app-bar {
            display: none;
        }

        body {
            display: flex;
        }
    }

    /* Card Component */
    .card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 1rem 0;
        padding: 0.5rem 1rem;
    }

    /* Task Input Area */
    .task-input-text {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 0.5rem;
    }

    .task-input > * {
        margin-block: 0.5rem;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .task-add-button {
        padding: 0.5rem 1rem;
        background: #3f51b5;
        color: white;
        border: none;
        border-radius: 32px;

        font-weight: bold;
    }

    .task-weight-sel {
        min-width: 60px;
        cursor: pointer;
        color: #3f51b5;
        border-radius: 16px;
        text-align: center;
    }

    /* Task List */
    .task-list,
    .readonly-task-list {
        list-style-type: none;
    }

    .readonly-task-list > .task {
        display: flex;
    }

    .task {
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .task-is-complete,
    .task-sel {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

    .task-text {
        width: 100%;
    }

    .task-completed .task-text {
        text-decoration: line-through;
    }

    .task-description {
        flex-grow: 1;
    }

    .task-create-date {
        color: #bbb;
    }

    .task > .weight-light,
    .task > .weight-medium,
    .task > .weight-heavy,
    .task > .weight-due-date {
        padding: 4px 1rem;
        border-radius: 1rem;
        font-weight: bold;
    }

    .task > .weight-light {
        color: #4caf50;
        background: #e8f5e9;
    }

    .task > .weight-medium {
        color: #ff9800;
        background: #fff3e0;
    }

    .task > .weight-heavy {
        color: #f44336;
        background: #ffebee;
    }

    .task > .weight-due-date {
        color: #2196f3;
        background: #e3f2fd;
    }

    /* Task Filtering based on selected tab */
    .task-list > .task {
        display: none;
    }

    body:has(#tab-light:checked) .task-list > .task:has(.weight-light),
    body:has(#tab-medium:checked) .task-list > .task:has(.weight-medium),
    body:has(#tab-heavy:checked) .task-list > .task:has(.weight-heavy),
    body:has(#tab-due-date:checked) .task-list > .task:has(.weight-due-date),
    body:has(#tab-all:checked) .task-list > .task {
        display: flex;
    }

    /* when radio button is checked, style the corresponding label */
    input:checked + label {
        background: #3f51b530;
    }
}

@layer high {
    /* hide completed tasks */
    .task:has(.task-is-complete:checked) {
        display: none;
    }
}
